<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">
        <select id="list" resultType="com.itheima.pojo.Student">
            SELECT s.* from student s
            <where>
                <if test="name != null and name != '' " >
                    name = #{name}
                </if>
                <if test="degree != null">
                    and degree = #{degree}
                </if>
                <if test="clazzId != null">
                    and clazzId = #{clazzId}
                </if>
            </where>
        </select>
    <update id="update">
        update student
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null and no != ''">no = #{no},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            update_time = now()
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from student where in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">//item指的是循环变量的名称
            #{id}
        </foreach>

    </delete>
</mapper>